<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/navbar.css">
    <link rel="stylesheet" href="../style/header.css">
    <title>Document</title>
</head>
<body>

    <nav class="navbar">
        <div class="navbar__container">
            <a href="#" class="navbar__logo" id="navbar__logo">CHOCS</a>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="" class="navbar__link" id="navbar-home">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link" id="navbar-products">Products</a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link" id="navbar-about">About</a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link" id="navbar-location">Location</a>
                </li>
                <li class="navbar__btn">
                    <a href="" class="navbar__purchase" id="navbar-purchase">Purchase</a>
                </li>
            </ul>
            <div class="navbar__hamburger" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </nav>

    <header class="hero">
        <div class="hero__container">
            <div class="hero__container__info">
                <h1>Chocs Chocolates</h1>
                <p>Taste a chocolate so elegant yet so pure. Made only by the best with the highest quality chocolate.</p>
            </div>
        </div>
    </header>

    <script src="../scripts/navbar.js"></script>
</body>
</html>